[submodule "server/Router/core/react-youtube-translate-share-config"]
	path = server/Router/core/react-youtube-translate-share-config
	url = git@github.com:OxxO98/react-youtube-translate-share-config.git